BACKEND_PORT=8787
BACKEND_HOST=0.0.0.0
BACKEND_JWT_SECRET=change_me_to_a_long_random_secret
GOOGLE_OAUTH_CLIENT_IDS=273146193394-hrb4emh6vgap0dj0m68majj0800ruba7.apps.googleusercontent.com,273146193394-hsdi6crd79s541nudod7do78gkudah47.apps.googleusercontent.com
APPLE_OAUTH_AUDIENCES=com.masgarti.fit
